<!doctype html>
<html lang="ko">
<head>
    <% include ./header.ejs %>
</head>
<body>
    <div id="wrap">
        <div class='inner'>
            <div class="successWrap">
                <h1>게시글 <%= role %> 이 완료되었습니다.</h1>
                <p>게시글 확인을 원하시면 아래의 버튼을 눌러주세요</p>
                <a href="/" class="index">확인</a>
            </div>
        </div>    
    </div>
</body>
</html>